/* Coolors Exported Palette - coolors.co/edf67d-f896d8-ca7df9-724cf9-564592 */

/* HSL */
$color1: hsla(64%, 87%, 73%, 1);
$color2: hsla(320%, 88%, 78%, 1);
$color3: hsla(277%, 91%, 73%, 1);
$color4: hsla(253%, 94%, 64%, 1);
$color5: hsla(253%, 36%, 42%, 1);

$color1: #edf67d;
$color2: #f896d8;
$color3: #ca7df9;
$color4: #724cf9;
$color5: #564592;

/* alt set - https://coolors.co/04080f-507dbc-a1c6ea-bbd1ea-dae3e5 */

$altcolor1: #04080f;
$altcolor2: #507dbc;
$altcolor3: #a1c6ea;
$altcolor4: #bbd1ea;
$altcolor5: #dae3e5;
