html
{
	background: url("background.jpg");
}
body
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	background-color: #50AAE1;
    width: auto;
	max-width: 50%;
    border: 5px;
	border-style: solid;
	border-color: #A8B4BB;
    padding: 15px 40px 20px 40px;
    margin: 0% auto 20% auto;
	color: white;
	background-clip: padding-box;
}
h1
{
    color: #B9CBCB;
}
#nav
{
	float: left;
	background-color: #a7b2ba;
	list-style-type: none;
	border: 3px solid pink;
	padding: 5px 20px 5px 3px;
	margin: 10px 25px 25px 25px;
}

@media only screen and (max-width: 600px) 
{
	#nav
	{
		background-color: #ff69b4;
	}
}
ul
{
	list-style-type: square;
}
li
{
	margin-left: 10px;
}
a:link, a:visited, a:hover, a:active
{
	text-decoration: none;
	font-size: 11px;
	color: #323fba;
}